a.nav-logo,
a.nav-logo:visited {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black !important;
}

.post-title {
  background-color: #ffffff;
}

:root {
    --nc-bg-1: #ffffff;
    --nc-bg-2: #f4f4f4;
    --nc-bg-3: #e6e6e6;
    --nc-tx-1: #111111;
    --nc-tx-2: #444444;
    --nc-lk-1: #0070f3;
    --nc-lk-2: #0366d6;
    --nc-lk-tx: #ffffff;
    --nc-ac-1: #0070f3;
    --nc-ac-tx: #ffffff;
}

body {
    max-width: 800px;
    padding: 2rem;
    line-height: 1.6;
}

h1, h2, h3 {
    margin-bottom: 24px; /* Adjust this value to your liking */
}