<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <div style="font-size: x-large; text-align: center;">dev_terminal_of_hmd</div>
        <nav>
            <a href="./index.html">Home</a> | 
            <a href="./about.html">About Me</a>
        </nav>
        <hr>
    </header>
    <main>
        {{content}}
    </main>
</body>
</html>